<!DOCTYPE html>
<html lang="en" itemscope itemType="http://schema.org/Blog">
	<head>
		<title itemprop="headline name">{% block title %}{% if article %}{{ article.title|striptags }}{% else %}{{ SITENAME }}{% endif %}{% endblock %}</title>
		<meta itemprop="isFamilyFriendly" content="True"/>
		<meta charset="utf-8"/>
		<meta name="description" content="{% if article %}{{ article.content|striptags|truncate(70) }}{% else %}{{ SITEDESCRIPTION }}{% endif %}"/>
		<meta name="keywords" content="tim krämer, tim, krämer, kraemer, hamburg, boston, weblog, blog{% if article %}, {{ SEOkeywords}}{% endif %}"/>
		<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
		<base href="{{ SITEURL }}"/>
		<link rel="shortcut icon" href="{{ SITEURL }}/theme/images/favicon.png" type="image/x-icon"/>
		<link rel="icon" href="{{ SITEURL }}/theme/images/favicon_32.png" sizes="32x32"/>
		<link rel="canonical" href="{{ SITEURL }}{% if article %}/{{ article.url }}{% endif %}"/>
		<meta property="og:site_name" content="{{ SITENAME }}"/>
		<meta property="og:url" content="{{ SITEURL }}{% if article %}/{{ article.url }}{% endif %}"/>
		<meta property="og:title" content="{% if article %}{{ article.title|striptags }}{% else %}{{ SITENAME }}{% endif %}"/>
		<meta property="og:image" content="{% if article %}{% if article.image %}{{ SITEURL }}/images/{{ article.image }}{% else %}{{ SITEURL }}/theme/images/tim-kraemer.png{% endif %}{% else %}{{ SITEURL }}/theme/images/tim-kraemer.png{% endif %}"/>
		<meta property="og:description" content="{% if article %}{{ article.content|striptags|truncate(70) }}{% else %}{{ SITEDESCRIPTION }}{% endif %}"/>  
		<meta property='og:type' content="blog"/>
		<meta property='og:locale' content="{% if article %}{% if article.language == 'en_US' %}en_US{% else %}de_DE{% endif %}{% else %}de_DE{% endif %}"/>
		<meta name="twitter:site" content="@timkraemer">
		<meta name="twitter:creator" content="@timkraemer">
		<meta name="twitter:url" content="{{ SITEURL }}{% if article %}/{{ article.url }}{% endif %}">
		<meta name="twitter:title" content="{% if article %}{{ article.title|striptags }}{% else %}{{ SITENAME }}{% endif %}">
		<meta name="twitter:description" content="{% if article %}{{ article.content|striptags|truncate(70) }}{% else %}{{ SITEDESCRIPTION }}{% endif %}">
		{% if article %}
			{% if article.youtube %}
		<meta name="twitter:card" content="player">
		<meta name="twitter:player" content="https://www.youtube.com/embed/{{ article.youtube }}">
		<meta name="twitter:player:width" content="1280">
      	<meta name="twitter:player:height" content="720">
      	<meta property="og:type" content="video">
        <meta property="og:video" content="http://www.youtube.com/v/{{ article.youtube }}?version=3&amp;autohide=1">
		<meta property="og:video:type" content="application/x-shockwave-flash">
		<meta property="og:video:width" content="1280">
		<meta property="og:video:height" content="720">		
			{% elif article.gallery %}
		<meta name="twitter:card" content="gallery">
				{% for image in article.galleryimages %}
					{% if loop.index0 < 4 %}
		<meta name="twitter:image{{ loop.index0 }}:src" content="{{ SITEURL }}/images/gallery/{{ article.album }}/{{ image }}">
					{% endif %}
				{% endfor %}
			{% elif article.image %}
		<meta name="twitter:card" content="summary_large_image">
		<meta name="twitter:image" content="{{ SITEURL }}/images/{{ article.image }}">
			{% else %}
		<meta name="twitter:card" content="summary">
		<meta name="twitter:image" content="{{ SITEURL }}/theme/images/tim-kraemer.png">
			{% endif %}
		{% else %}
		<meta name="twitter:card" content="summary">
		<meta name="twitter:image" content="{{ SITEURL }}/theme/images/tim-kraemer.png">
		{% endif %}
		{% if FEED_ALL_ATOM %}
		<link href="{{ FEED_DOMAIN }}/{{ FEED_ALL_ATOM }}" type="application/atom+xml" rel="alternate" title="{{ SITENAME }} Atom Feed"/>
		{% endif %}
		{% if FEED_ALL_RSS %}
		<link href="{{ FEED_DOMAIN }}/{{ FEED_ALL_RSS }}" type="application/rss+xml" rel="alternate" title="{{ SITENAME }} RSS Feed"/>
		{% endif %}
		<link rel="stylesheet" href="{{ SITEURL }}/theme/css/reset.css" type="text/css"/>
		<link rel="stylesheet" href="{{ SITEURL }}/theme/css/pygment.css" type="text/css"/>
		<link rel="stylesheet" href="{{ SITEURL }}/theme/css/typogrify.css" type="text/css"/>
		<link rel="stylesheet" href="{{ SITEURL }}/theme/css/colorbox.css" type="text/css"/>
		<link rel="stylesheet" href="{{ SITEURL }}/theme/css/{{ CSS_FILE }}" type="text/css"/>
		<!--[if IE]><script src="{{ SITEURL }}/theme/js/html5.js"></script><![endif]-->
		<!--[if lte IE 7]>
		<link rel="stylesheet" type="text/css" media="all" href="{{ SITEURL }}/css/ie.css"/>
		<script src="{{ SITEURL }}/js/IE8.js" type="text/javascript"></script><![endif]-->
		<!--[if lt IE 7]><link rel="stylesheet" type="text/css" media="all" href="{{ SITEURL }}/css/ie6.css"/><![endif]-->
		<script src="{{ SITEURL }}/theme/js/jquery-2.1.0.min.js" type="text/javascript"></script>
		<script src="{{ SITEURL }}/theme/js/jquery.colorbox-min.js" type="text/javascript"></script>
		<script>
			$(document).ready(function(){
				$(".cboxElement").colorbox({rel:'gallery', transition:"fade", width:"90%"});
			});
		</script>
	</head>
	<body id="index" class="home">
		<div class="detail">
			<p class="vcard">
				<a itemprop="url" class="url"  href="{{ SITEURL }}/">{% if SITESUBTITLE %}{{ SITESUBTITLE }}{% endif %}
				<img itemprop="image" class="photo" src="{{ SITEURL }}/theme/images/tim-kraemer.png" width="97" height="98" alt="Tim Krämer"><br/>
				<span itemprop="text description">Ich bin <span itemprop="author creator editor accountablePerson" itemscope itemtype="http://schema.org/Person"><strong itemprop="name" class="fn n"><span class="given-name">Tim</span> <span class="family-name">Krämer</span></strong></span><br/>und das ist mein Weblog.</span></a>
			</p>
			<ul id="navi">
			{% for page in PAGES %}
				<li><a href="{{ SITEURL }}/{{ page.url }}">⇨ {{ page.title }}</a></li>
			{% endfor %}
			</ul>
		</div>
		{% block content %}
		{% endblock %}	
		<footer id="contentinfo" >
			<p id="about" class="vcard ">
				Proudly powered by <a href="http://getpelican.com/" target="_blank">Pelican</a> and <a href="http://python.org" target="_blank">Python</a>.<br/>
				Hintergrundbild von <a href="http://en.wikipedia.org/wiki/User:Spinnick597">Spinnick597</a> <a href="http://creativecommons.org/licenses/by-sa/2.5/">CC-BY-SA 2.5</a>.
			</p>
			<div style="display:none"><a href="https://plus.google.com/105406692262409087696?rel=author">Google</a></div>
		</footer>
	</body>
</html>
